/* styles.css */
body {
    font-family: 'Verdana', sans-serif;
    background-color: #f4f4f4;
    color: #4a4a4a;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border: 2px solid #928962;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    max-width: 600px;
    text-align: center;
    color: #333;
}

h1 {
    color: #928962;
    font-size: 2.5em;
    margin-bottom: 20px;
    transition: color 0.3s ease; /* Añadido para suavizar el cambio de color */
}

h1:hover {
    color: #b8a965; /* Color en el hover */
}

.product-list {
    margin: 20px 0;
    text-align: left;
}

.product-list h2 {
    color: #928962;
    font-size: 1.5em;
    margin-bottom: 10px;
    transition: color 0.3s ease; /* Añadido para suavizar el cambio de color */
}

.product-list h2:hover {
    color: #b8a965; /* Color en el hover */
}

.product-list ul {
    list-style-type: none;
    padding: 0;
}

.product-list li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    font-size: 1.1em;
}

.product-list li:last-child {
    border-bottom: none;
}

.note {
    font-size: 0.9em;
    color: #777;
    margin-top: 15px;
}

p, li {
    line-height: 1.6;
}

